.banner img {
    background-color: #FAFAFA;
    width: 100%; /* Make the image fill its container */
    height: auto; /* Maintain the image's aspect ratio */
    max-width: 100%; /* Ensure the image doesn't exceed its natural width */
}
