#terms_of h2{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 45px;
    padding: 50px 0 20px;
}
#terms_of p{
   color: #7E7E7E;
   font-size: 16px;
   font-family: 'Montserrat', sans-serif;
   padding: 1px 0;
}
#terms_of h3{
   color: #000;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   padding:20px 0;
}
#terms_of ul li{
   color: #7E7E7E;
   padding:5px 0;
   list-style:none;
}


@media only screen and (max-width:480px){
   #terms_of h2{
       font-size: 25px;
   }
   #terms_of p{
       font-size: 13px;
   }
}