.email-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 100vw;
    overflow: hidden;
}
.subscription-form {
    flex-direction: row; /* Arrange input and button side by side */
}
.background-image-desktop,
.background-image-mobile {
    display: none;
    width: 100%;
    height: 100%;
}

.centered-content {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.subscription-form input {
    border-radius: 43.5px 0 0 43.5px;
}
.subscription-form input::placeholder{
    padding-left: 10px;
}
.subscription-form button {
 
    background-color: #e04d62;
    border-radius: 0 43.5px 43.5px 0;
    font-family: Montserrat;
  
}
.subscription-form button{
    font-weight: BOLD;
}



/* Media query for desktop */
@media (min-width: 768px) {
    .background-image-mobile {
        display: none;
    }
    
    .background-image-desktop {
        display: block;
        background-image: url('../../../assets//Group\ 6103@3x.png');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
        max-width: 1920px;
    }
}

/* Media query for mobile */
@media (max-width: 767px) {

    .background-image-desktop {
        display: none;
    }
    .subscription-form{
        color: #fff;
    }
    
    .background-image-mobile {
        display: block;
        background-image: url('../../../assets/Group 6117@3x.png');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 50vh;
        max-width: 100%;
        min-height: 767px;
    }
    .email_mob{
        padding-top: 50px;
    }
    .email_mob h1{
        font-size: 35px;
    }
    .email_mob p{
        font-size: 25px;
    }
    .mobile_sub{
        padding: 5px 0;
    }
    .mobile_sub input{
        width: 350px;
       
    }
    .mobile_sub button{
        width:150px;
      
    }
    .subscription-form input {
        margin-bottom: 0px !important;
    }
    
 

}

/* Common styles for both desktop and mobile */
.subscription-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.subscription-form input {
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 43.5px 0 0 43.5px;
    margin-bottom: 1px;
}
.subscription-form input::placeholder{
    padding-left: 10px;
}

/* Display email input and button side by side */
.subscription-form button {
    padding: 10px 20px;
 
    color: white;
    border: none;

    cursor: pointer;
}
@media only screen and (max-width:480px){
    .subscription-form input::placeholder{
        font-size: 9.5px;
    }
    .subscription-form input{
        font-size:9.5px;
        padding: 9px;
    }
    .email_mob p{
        font-size: 10px !important;
        padding-bottom: 5px;
    }
    .email_mob h1{
        font-size: 17px !important;
       
    }
    .mobile_sub{
        padding:  0 5px;
    }
    .subscription-form button{
        padding: 8px 10px;
        font-size: 12px;
    }
    .background-image-mobile{
        background-size: cover !important;
        min-height: 455px !important;
        background-repeat-y: no-repeat !important;
        background-repeat-x: no-repeat !important;
        max-height: 455px !important;
    }
}
@media only screen and (max-width:550px){
    .email_mob h1{
        font-size: 30px;
    }
    .email_mob p{
        font-size: 20px;
    }
    .subscription-form {
        margin-top: 0px;
    }
    .email_mob {
        padding-top: 25px;
    }

}

/* Additional styles for desktop layout */
@media (min-width: 768px) {
    .subscription-form {
        flex-direction: row; /* Arrange input and button side by side */
    }

    .subscription-form input {
        margin-bottom: 0;
      
        font-size: 26px;
        padding-left: 20px;
    }
    
    .subscription-form input::placeholder{
        font-size: 26px;
        padding-left: 0px;
    }
    .subscription-form button {
        padding: 16px 34px;
        font-size: 18px;
        color: white;
        border: none;
    
        cursor: pointer;
    }
    .centered-content{
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
    }
  
}
@media only screen and (min-width:991px){
    .subscription-form button {
        padding: 17px 34px;
        font-size: 17px;
    }
}
@media only screen and (min-width:1200px){
    .subscription-form button {
        padding: 11px 34px;
        font-size: 25px;
    }
    .centered-content{
        display: flex;
        justify-content: space-around;
        margin-top: 110px;
    }
}
@media only screen and (min-width:1500px){
    .subscription-form button {
        padding: 14px 54px;
        font-size: 25px;
    }
    .subscription-form input {
        padding: 9.5px 28px;
        width: 550px;
    }
    .subscription-form input{
      padding-bottom: 15px;
    }
    /* .subscription-form input :focus-visible {
        colour:"red";
    } */
    .centered-content{
        display: flex;
        justify-content: space-around;
        margin-top: 130px;
    }
    .content_email h1{
        font-size: 45px;
        text-align: justify;
    }
    .content_email p{
        font-size: 27px;
    }
}