.button_down_image{
    background: transparent;
    border: 0px;
  }
  @media only screen and (max-width:768px){
      .buttons_store{
          justify-content: center;
      }
      .button_down_image img{
          max-width: 180px;
      }
      .down {
          position: relative;
          width: 100%;
          height: 750px; 
          min-width:100%;
          background-image: url('../../../assets/online_doctor.png');
          background-size: contain; 
          background-repeat: no-repeat;
          background-position: center center;
      }
  }
  @media only screen and (max-width:700px){
      .down {
          height: 680px; 
      }
      .button_down_image img{
          max-width: 180px;
      }
  }
  @media only screen and (max-width:650px){
      .down {
          height: 640px; 
      }
      .button_down_image img{
          max-width: 150px;
      }
  }
  @media only screen and (max-width:550px){
      .down {
          height: 525px; 
      }
      .button_down_image img{
          max-width: 140px;
      }
  }
  @media only screen and (max-width:480px){
      .down {
          height: 450px; 
      }
      .button_down_image img{
          max-width: 130px;
      }
  }
  @media only screen and (max-width:414px){
      .down {
          height: 410px; 
      }
      .button_down_image img{
          max-width: 110px;
      }
  }
  @media only screen and (max-width:390px){
      .down {
          height: 390px; 
      }
      .button_down_image img{
          max-width: 100px;
      }
  }
  @media only screen and (max-width:375px){
      .down {
          height: 375px; 
      }
      .button_down_image img{
          max-width: 100px;
      }
  }
  @media only screen and (max-width:350px){
      .down {
          height: 315px; 
      }
      .button_down_image img{
          max-width: 90px;
      }
  }
  @media only screen and (min-width:769px) {
      .buttons_store {
          justify-content: right;
          display: flex;
      }
      
     
      
      .button_main {
          justify-content: end;
      }
      .down {
          position: relative;
          width: 100%;
          height: 450px; 
          min-width:100%;
          background-image: url('../../../assets/desktop 2.png');
          background-size: contain; 
          background-repeat: no-repeat;
          background-position: center center;
          display: flex;
          
          align-items: center;
      }
      .button_down_image img {
          max-width: 130px;    
      }
      .buttons_store{
          margin: 100px 0 0 390px;
      }
  }
  @media only screen and (min-width:800px){
      .button_down_image img {
          max-width: 135px;    
      }
      .buttons_store{
          margin: 100px 0 0 400px;
      }
  }
  @media only screen and (min-width:825px){
      .button_down_image img {
          max-width: 140px;    
      }
      .buttons_store{
          margin: 100px 0 0 410px;
      }
  }
  @media only screen and (min-width:850px){
      .button_down_image img {
          max-width: 145px;    
      }
      .buttons_store{
          margin: 100px 0 0 415px;
      }
  }
  @media only screen and (min-width:875px){
      .button_down_image img {
          max-width: 145px;    
      }
      .buttons_store{
          margin: 100px 0 0 430px;
      }
  }
  @media only screen and (min-width:900px){
      .button_down_image img {
          max-width: 155px;    
      }
      .buttons_store{
          margin: 100px 0 0 450px;
      }
  }
  @media only screen and (min-width:925px){
      .button_down_image img {
          max-width: 155px;    
      }
      .buttons_store{
          margin: 110px 0 0 450px;
      }
      .down {
          height: 480px;   
      }
  }
  @media only screen and (min-width:925px){
      .button_down_image img {
          max-width: 160px;    
      }
      .buttons_store{
          margin: 110px 0 0 470px;
      }
      .down {
          height: 480px;   
      }
  }
  @media only screen and (min-width:975px){
      .button_down_image img {
          max-width: 160px;    
      }
      .buttons_store{
          margin: 110px 0 0 470px;
      }
      .down {
          height: 500px;   
      }
  }
  @media only screen and (min-width:1000px){
      .button_down_image img {
          max-width: 170px;
         
      }
      .buttons_store{
          padding-right: 70px;
      }
  }
  @media only screen and (min-width:1025px){
      .button_down_image img {
          max-width: 172px;
         
      }
      .buttons_store{
          padding-right: 80px;
      }
  }
  @media only screen and (min-width:1050px){
      .button_down_image img {
          max-width: 172px;
         
      }
      .buttons_store{
          padding-right: 90px;
      }
  }
  @media only screen and (min-width:1075px){
      .button_down_image img {
          max-width: 167px;
         
      }
      .buttons_store{
          padding-right: 110px;
      }
  }
  @media only screen and (min-width:1100px){
      .button_down_image img {
          max-width: 185px;
          margin-top: 40px;
      }
      .buttons_store{
          padding-right: 80px;
      }
      .down {
          position: relative;
          width: 100%;
          height: 768px; 
          min-width:100%;
          background-image: url('../../../assets/desktop 2.png');
          background-size: contain; 
          background-repeat: no-repeat;
          background-position: center center;
          display: flex;
          
          align-items: center;
      }
      .buttons_store {
          justify-content: right;
          display: flex;
      }
      
    
      
      .button_main {
          justify-content: end;
      }
     
  }
  @media only screen and (min-width:1125px){
      .button_down_image img {
          max-width: 190px;
          margin-top: 40px;;
      }
      .buttons_store{
          padding-right: 80px;
      }
     
     
  }
  @media only screen and (min-width:1150px){
      .button_down_image img {
          max-width: 195px;
          margin-top: 40px;
      }
      .buttons_store{
          padding-right: 78px;
      }
     
     
  }
  @media only screen and (min-width:1175px){
      .button_down_image img {
          max-width: 200px;
          margin-top: 40px;
      }
      .buttons_store{
          padding-right: 78px;
      }
     
     
  }
  @media only screen and (min-width:1200px){
      .button_down_image img {
          max-width: 203px;
          margin-top: 40px;
      }
      .buttons_store{
          padding-right: 85px;
      }
     
     
  }
  @media only screen and (min-width:1225px){
      .button_down_image img {
          max-width: 210px;
          margin-top: 40px;
      }
      .buttons_store{
          padding-right: 85px;
      }
     
     
  }
  @media only screen and (min-width:1250px){
      .button_down_image img {
          max-width: 215px;
          margin-top: 45px;
      }
      .buttons_store{
          padding-right: 80px;
      } 
  }
  @media only screen and (min-width:1275px){
      .button_down_image img {
          max-width: 215px;
          margin-top: 50px;
      }
      .buttons_store{
          padding-right: 90px;
      } 
  }
  @media only screen and (min-width:1300px){
      .button_down_image img {
          max-width: 220px;
          margin-top: 50px;
      }
      .buttons_store{
          padding-right: 95px;
      } 
  }
  @media only screen and (min-width:1325px){
      .button_down_image img {
          max-width: 225px;
          margin-top: 50px;
      }
      .buttons_store{
          padding-right: 98px;
      } 
  }
  @media only screen and (min-width:1350px){
      .button_down_image img {
          max-width: 228px;
          margin-top: 50px;
      }
      .buttons_store{
          padding-right: 98px;
      } 
  }
  @media only screen and (min-width:1375px){
      .button_down_image img {
          max-width: 235px;
          margin-top: 50px;
      }
      .buttons_store{
          padding-right: 97px;
      } 
  }
  @media only screen and (min-width:1400px){
      .button_down_image img {
          max-width: 240px;
          margin-top: 55px;
      }
      .buttons_store{
          padding-right: 100px;
      } 
  }
  @media only screen and (min-width:1425px){
      .button_down_image img {
          max-width: 245px;
          margin-top: 60px;
      }
  }
  @media only screen and (min-width:1450px){
      .button_down_image img {
          max-width: 245px;
          margin-top: 70px;
      }
      .buttons_store{
          padding-right: 105px;
      } 
  }
  @media only screen and (min-width:1475px){
      .button_down_image img {
          max-width: 250px;
          margin-top: 70px;
      }
      .buttons_store{
          padding-right: 105px;
      } 
  }
  @media only screen and (min-width:1500px){
      .button_down_image img {
          max-width: 255px;
          margin-top: 70px;
      }
      .buttons_store{
          padding-right: 108px;
      }
      .down {
          position: relative;
          width: 100%;
          height: 955px; 
          min-width:100%;
          background-image: url('../../../assets/desktop 2.png');
          background-size: contain; 
          background-repeat: no-repeat;
          background-position: center center;
          display: flex;
          
          align-items: center;
      }
     
  }
  @media only screen and (min-width:1525px){
      .button_down_image img {
          max-width: 260px;
          margin-top: 70px;
      }
      .buttons_store{
          padding-right: 110px;
      }
     
  }
  @media only screen and (min-width:1550px){
      .button_down_image img {
          max-width: 260px;
          margin-top: 70px;
      }
      .buttons_store{
          padding-right: 107px;
      }
     
  }
  @media only screen and (min-width:1550px){
      .button_down_image img {
          max-width: 265px;
          margin-top: 70px;
      }
      .buttons_store{
          padding-right: 110px;
      }
     
  }
  @media only screen and (min-width:1600px){
      .button_down_image img {
          max-width: 275px;
          margin-top: 70px;
      }
      .buttons_store{
          padding-right: 113px;
      }
     
  }
  @media only screen and (min-width:1625px){
      .button_down_image img {
          max-width: 278px;
          margin-top: 90px;
      }
      .buttons_store{
          padding-right: 113px;
      }
     
  }
  @media only screen and (min-width:1650px){
      .button_down_image img {
          max-width: 285px;
          margin-top: 100px;
      }
      .buttons_store{
          padding-right: 115px;
      }
     
  }
  @media only screen and (min-width:1675px){
      .button_down_image img {
          max-width: 288px;
          margin-top: 100px;
      }
      .buttons_store{
          padding-right: 120px;
      }
     
  }
  @media only screen and (min-width:1700px){
      .button_down_image img {
          max-width: 297px;
          margin-top: 120px;
      }
      .buttons_store{
          padding-right: 115px;
      }
     
  }
  @media only screen and (min-width:1725px){
      .button_down_image img {
          max-width: 295px;
          margin-top: 110px;
      }
      .buttons_store{
          padding-right: 125px;
      }
     
  }
  @media only screen and (min-width:1750px){
      .button_down_image img {
          max-width: 298px;
          margin-top: 110px;
      }
      .buttons_store{
          padding-right: 127px;
      }
     
  }
  @media only screen and (min-width:1775px){
      .button_down_image img {
          max-width: 303px;
          margin-top: 110px;
      }
      .buttons_store{
          padding-right: 128px;
      }
     
  }
  @media only screen and (min-width:1800px){
      .button_down_image img {
          max-width: 308px;
          margin-top: 120px;
      }
      .buttons_store{
          padding-right: 135px;
      }
     
  }
  @media only screen and (min-width:1825px){
      .button_down_image img {
          max-width: 310px;
          margin-top: 125px;
      }
      .buttons_store{
          padding-right: 132px;
      }
     
  }
  @media only screen and (min-width:1850px){
      .button_down_image img {
          max-width: 318px;
          margin-top: 130px;
      }
      .buttons_store{
          padding-right: 130px;
      }
     
  }
  @media only screen and (min-width:1875px){
      .button_down_image img {
          max-width: 321px;
          margin-top: 130px;
      }
      .buttons_store{
          padding-right: 135px;
      }
     
  }
  @media only screen and (min-width:1900px){
      .button_down_image img {
          max-width: 328px;
          margin-top: 130px;
      }
      .buttons_store{
          padding-right: 135px;
      }
     
  }
  @media only screen and (min-width:1920px){
      .button_down_image img {
          max-width: 327px;
          margin-top: 130px;
      }
      .buttons_store{
          padding-right: 140px;
      }
     
  }